/* LATO */

@font-face {
    font-family: 'Lato';
	src: local('Lato-Regular'),
    url('/the-best-of-amp.github.io/Lato-Regular.ttf') format('truetype');
	font-style: regular;
	font-weight: 400;
}

@font-face {
    font-family: 'Lato';
	src: local('Lato-Black'),
    url('/the-best-of-amp.github.io/Lato-Black.ttf') format('truetype');
	font-style: black;
	font-weight: 900;
}