/* LATO */

@font-face {
    font-family: 'Lato';
	src: local('Lato-Regular'),
    url('/Lato-Regular.ttf') format('truetype');
	font-style: regular;
	font-weight: 400;
}

@font-face {
    font-family: 'Lato';
	src: local('Lato-Black'),
    url('/Lato-Black.ttf') format('truetype');
	font-style: black;
	font-weight: 900;
}

@font-face {
    font-family: 'LeagueSpartan';
	src: local('LeagueSpartan-Bold'),
    url('/LeagueSpartan-Bold.otf') format('truetype');
	font-style: black;
}