

body {
	font-family: 'Lato', sans-serif;
	font-weight: regular;
	background-repeat:
	no-repeat,
	repeat; 
	
	background-image: 
	/*linear-gradient(to right, RGB(243, 243, 243), RGB(243, 243, 243)), 
	linear-gradient(to right, RGB(0, 0, 0), RGB(0, 0, 0));*/
	linear-gradient(RGB(243, 243, 243), RGB(243, 243, 243)), 
	linear-gradient(RGB(0, 0, 0), RGB(0, 0, 0));
	background-position:
	top,
	bottom;
	background-size:
	/*100% 38%,
	100% 100%;*/
	auto 35.5%,
	auto auto;
}

h1 {
	color: #8c8c8c;
	color: white;
	color: black;
	font-size: 30px;
	text-align: center;
	font-variant: small-caps;
	margin-bottom: -5px;
}

h2 {
	color: white;
	color: black;
	font-size: 18px;
	text-align: center;
}

hr {
	float: center;
	background-color: black;
	border: none;
	margin-bottom: -10px;
	height: 1px;
	/*width: 820px;*/
	width: 800px;
}

.justify {
	color: black;
	font-size: 20px;
	font-size: 18px;
	font-size: 17px;
	text-align: justify;
	hyphens: auto;
}

.justify_disclaimer {
	color: black;
	font-size: 15px;
	text-align: justify;
	hyphens: auto;
}

.justify_white {
	color: white;
	font-size: 20px;
	font-size: 18px;
	font-size: 17px;
	text-align: justify;
}

.center {
	float: center;
	color: white;
	font-size: 20px;
	font-size: 18px;
	text-align: center;
}

.disclaimer {
	color: black;
	font-size: 15px;
	text-align: justify;
	margin-left: 10px;
	margin-right: -5px;
}

br {
   display: block;
   margin: 4px 0;
}

p + p {
	text-indent: 20px;
}


* {
  box-sizing: border-box;
}

/* pdf and print links */

.links {
	text-align: center;
	overflow: hidden;
	margin-left: 5px;
	margin-right: -5px;
	margin-top: 20px;
}

.links a {
	font-weight: black;
	text-align: center;
	font-size: 16px;
	font-size: 25px;
	color: white;
	color: black;
	font-weight: 900;
	margin-right: 15px;
	margin-left: 15px;
	margin-right: 0px;
	margin-left: 0px;
	text-decoration: none;
}

/* vertical bar of colour */
/* https://stackoverflow.com/questions/3348736/vertical-bars-in-html-css */

/*                        */


/* Create two unequal columns that floats next to each other */
.column {
	float: left;
	/*padding: 10px;*/
}

.left {
	width: 500px;
	width: 400px;
	width: 395px;
	padding-right: 5px;
}

.right {
	width: 500px;
	width: 400px;
	width: 395px;
	padding-left: 5px;
}

.middle {
	width: 800px;
}

.margin {
	width: 20%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* https://stackoverflow.com/questions/14814745/how-to-center-two-columns-using-css */
#column_container {
    width: 1000px;
    width: 800px;
    margin: 0 auto;
}

table, td, th {
  border: 0px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
}

.alignright { text-align: right; }
.alignleft { text-align: left; }

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

/*
for the writing */
.sidenav {
  color: #111;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-left: 15px;
}